/* iconos & logos */

#header__logo {
    height: 3.5em;
    animation: vibrate 5s infinite 3s;
}

#logoMercadoPago {
    height: 3.5em;
}

.header__icono, .tareas_icono, .requisito__icono {
    height: 2.5em;
}

.anuncios__icono {
    height: 2em;
}

#footer_logo {
    height: 18vh;
    animation: vibrate 5s infinite 3s;
}

.footer__iconos {
    height: 8vh;
    margin: 1vh;
}